body {
	font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
img {
	height: 300px;
	width: auto;
	margin: auto;
	display: block;
}
h1 {
	font-weight: bold;
	text-align: center;
}
h2 {
	color: blue;
}
div.description,
.description h2 {
	background-color: blue;
	color: white;
	text-align: center;
	font-weight: bold;
}
.end {
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	background-color: green;
	color: white;
}
